<ion-header>
    <ion-toolbar>
        <ion-title color="primary">Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <center>
            <img src="/assets/Casa.jpg">
            </center>
            <ion-card-title>Quédate en casa Teziutlán</ion-card-title>
            <ion-card-subtitle>@quedateencasateziutlan · Sitio histórico y de referencia</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirecTo">
            <ion-icon name="{{c.icon}}" slot="start" color="primary"></ion-icon>
            {{c.name}}

        </ion-item>
    </ion-list>

</ion-content>

